{% extends "base.html" %}
{% load i18n %}

{% block container %}
<div class="content">
    <div class="page-header">
    </div>
    {% if form.errors %}
        <div class="alert alert-block fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
        </div>
    {% endif %}

    <form method="post" action="." class="form-signin">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-large">{% trans 'Submit' %}</button>
    </form>
</div>
{% endblock %}
